/* Global styles */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.body-bg {
  background-image: url("/Daron/cool-website-background-04.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Cover at least the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  width: 100%; /* Take full width of its container */
}

