.home-container {
    text-align: center;
    padding: 20px;
    color: #273c75; /* Dark blue text */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    width: 90%; /* Use percentage for responsive width */
    max-width: 1000px; /* Maximum width for PC */
    margin: 100px auto;
    -webkit-text-stroke: .2px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-header h1 {
    color: #273c75; /* Dark blue text */
    -webkit-text-stroke: .7px black;
}

.introduction p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
}

.home-footer a {
    color: #273c75; /* Dark blue text */
    font-size: 20px;
    text-decoration: none;
}

.home-footer a:hover {
    text-decoration: underline;
}

.picture {
    height: auto; /* Allow height to adjust based on content */
    max-width: 40%; /* Ensure image doesn't exceed container width */
    border: solid 2px gray;
    border-radius: 30px;
}
/* Media query for screens smaller than 768px (mobile devices) */
@media screen and (max-width: 768px) {
    .home-container {
        margin: 60px auto;
        padding: 10px;
    }

    .introduction p {
        font-size: 16px;
    }

    .home-footer a {
        font-size: 18px;
    }
}
