/* NavBar.css */

/* Default styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures the navbar is on top of other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a:hover {
    text-decoration: underline;
    color: #1abc9c; /* Teal for a bit of pop */
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline; /* Display links in a line */
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-links li a.active-link {
    color: #1abc9c; /* Change color to teal (or any other color) */
    font-weight: bold; /* Make it bold to highlight */
}

/* Media query for screens smaller than 768px (mobile devices) */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px; /* Reduce padding for a more compact navbar */
    }

    .nav-links {
        display: none; /* Hide the navigation links */
        text-align: center; /* Center the hamburger icon */
    }

    .nav-links li {
        display: block; /* Display links as a list */
        margin-bottom: 10px; /* Add some space between links */
    }

    .nav-links li:last-child {
        margin-bottom: 0; /* Remove margin for the last link */
    }

    .nav-links li a {
        display: block; /* Make links full width */
        padding: 10px 0; /* Add padding to improve touchability */
        border-top: 1px solid #555; /* Add a border between links */
    }

    .nav-links li a:hover {
        text-decoration: none;
    }

    .menu-icon {
        display: block; /* Show the hamburger icon */
        color: white;
        font-size: 24px;
        cursor: pointer; /* Change cursor to pointer for better UX */
        margin-right: 20px;
    }

    .menu-icon:hover {
        color: #1abc9c; /* Change color on hover */
    }

    .menu-icon.active {
        color: #1abc9c; /* Change color when menu is open */
    }
}
