/* NavBar.css */

/* Default styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a:hover {
    text-decoration: underline;
    color: #1abc9c; 
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline; 
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-links li a.active-link {
    color: #1abc9c; 
    font-weight: bold; 
}

/* Media query for screens smaller than 768px (mobile devices) */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px; 
    }

    .nav-links {
        text-align: center;
    }

    .nav-links li {
        margin-bottom: 10px; 
        display: inline;
    }

    .nav-links li:last-child {
        margin-bottom: 0; 
    }

    .nav-links li a {
        padding: 10px 0; 
    }
}
