/* Publication.css */

/* Common styles for both desktop and mobile */
.pdf-banner {
    cursor: pointer;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin: 20px 7%; /* Adjusted margin for responsiveness */
    border: 1px solid #ccc;
  }
  
  .pdf-banner:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
    text-decoration: underline; /* Underline text on hover */
  }
  
  .pdf-banner span {
    font-weight: bold;
  }
  
  /* Media query for screens smaller than 768px (mobile devices) */
  @media screen and (max-width: 768px) {
    .pdf-banner {
      margin: 20px 5%; /* Adjusted margin for smaller screens */
      font: 5vw;
    }
  }
  
  