/* For PC */
.work-container {
    text-align: center;
    color: #273c75; /* Dark blue text */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    width: 1000px;
    margin: 100px auto;
    -webkit-text-stroke: .2px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.work-section {
    border: 1px solid #ccc; /* Light grey border around each section */
    border-radius: 8px; /* Rounded corners for the borders */
    margin-bottom: 20px; /* Space between sections */
    padding: 20px; /* Padding inside each section */
    background-color: #ffffff; /* White background for each block */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* For mobile */
@media (max-width: 768px) {
    .work-container {
        width: 90%; /* Use percentage for responsive width */
        margin: 50px auto; /* Adjust margin for mobile */
        padding: 10px; /* Reduce padding for mobile */
    }

    .work-section {
        margin-bottom: 10px; /* Reduce space between sections for mobile */
        padding: 15px; /* Reduce padding inside each section for mobile */
    }
}

